.subtask {
    font-weight: bold;
}

.icon {
    font-family: 'hydro-icons';
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    margin-right: 0.5rem;
}

.pass {
    color: #25ad40 !important;
}

.fail {
    color: #fb5555 !important;
}

.progress {
    color: #f39800 !important;
}

.ignored,
.pending {
    color: #9fa0a0 !important;
}

.icon.pass:before {
    content: "\ea0a";
}

.icon.fail:before {
    content: "\ea0e";
}

.icon.progress:before {
    content: "\ea2d";
}

.icon.ignored:before {
    content: "\ea0e";
}

.icon.pending:before {
    content: "\ea4a";
}

.border-pass {
    border-left: .1875rem solid #2ac649;
}

.border-fail {
    border-left: .1875rem solid #fb6666;
}

.border-progress {
    border-left: .1875rem solid #ffa50f;
}

.border-ignored,
.border-pending {
    border-left: .1875rem solid #a9aaaa;
}

#title {
    font-size: 1.5rem;
}
